<div class="posts-container">
    <h2>All Posts</h2>
    <app-post-filter (filterChanged)="onFilterChanged($event)"></app-post-filter> <!-- Attach filter component here -->
    <!-- Create Post knop of boodschap voor niet-redacteurs -->
    <div class="create-post-section">
      @if(isRedacteur == true){
      <button routerLink="/create-post" class="create-post-button">Post aanmaken</button>
      <button routerLink="/not-approved" class="create-post-button">Nog goed te keuren</button>
      }
    </div>
  
    <!-- Controleer of er posts beschikbaar zijn -->
    @if (posts.length === 0){
    <h3 class="no-posts-message">Er zijn geen posts beschikbaar</h3>
    }
    @else{
    <div class="posts-list">
      @for(post of posts; track post.id){
      <div class="post-item">
        <h3>{{ post.title }}</h3>
        <p>{{ post.content }}</p>
        <small class="post-author">Geschreven door: {{ post.author }}</small>
        <small class="post-author">Gepubliceerd op: {{ post.createdAt }}</small><br>
        
        <button (click)="toggleComments(post.id)" class="comment-toggle-button">
          {{ post.showComments ? 'Verberg reacties' : 'Zie reacties' }}
        </button>
        @if(isRedacteur == true){
          <button routerLink="/edit-post/{{ post.id }}" class="create-post-button">Edit</button>
        }
        @if(post.showComments){
        <div class="comments-section">
          <ul>
            @for(comment of post.comments; track comment.id){
              <li class="comment-item">
              <p>{{ comment.content }}</p>
              <small>- {{ comment.author }} op {{ comment.createdAt }}</small>
              @if(isRedacteur == false){
                <button (click)="editComment(post.id, comment)" class="edit-comment-button">Bewerk</button>
                <button (click)="deleteComment(post.id, comment.id)" class="delete-comment-button">Verwijder</button>
              }
            </li>
          }
          </ul>
          @if(isRedacteur == false){
          <textarea
            [(ngModel)]="newCommentContent[post.id]"
            placeholder="Schrijf een reactie..."
          ></textarea>
          <button (click)="addComment(post.id)" class="add-comment-button">Plaats reactie</button>
          }
        </div>
      }
      
      </div>
      }
    </div>
    }
  </div>
  
